<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!--enlaces-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


  <!-- Vendor CSS Files -->
  
    <!--     CSS LINKS     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link src='{% static "CSS/Diseño.css" %}'>
  
</head>

<body>

 
<h5>Cordial Saludo</h5>
<h4>Enviamos este mensaje para compartir su contraseña.
  Usuario:{{ email}},
  contraseña:{{contraseña}}
</h5>
 
  </section><!-- End Hero -->

  <main id="main">
  
  <!--   Core JS Files   -->

  <script src='{% static "JS/core/popper.min.js" %}'></script>
  <script src='{% static "JS/bootstrap.min.js" %}'></script>
  <script src='{% static "JS/core/jquery.min.js" %}'></script>
  <script src='{% static "JS/plugins/perfect-scrollbar.jquery.min.js" %}'></script>

  <!-- Chart JS -->
  <script src='{% static "JS/plugins/perfect-scrollbar.jquery.min.js" %}'></script>
  
  <!--  Notifications Plugin    -->
  <script src='{% static "JS/plugins/bootstrap-notify.js" %}'></script>
  
  


</body>

</html>