{% extends  "base.html" %}

{% block title %} Perfil {% endblock %}

{% block subtitle %}
<a class="navbar-brand" href="javascript:;">Perfil</a>
{% endblock %}

{% block content %}

{% if user.id_rol.cargo == 'Administrador' %}

  <li>
    <a href="{% url 'Añadir' %}">
      <i class="centrar bi bi-person-fill icon"></i>
      <p>Administrador</p>
    </a>
  </li>

{% elif user.id_rol.cargo != 'Administrador' %}

  <li >
    <a href="{% url 'dashboard' %}">
      <i class="centrar bi bi-speedometer2 icon"></i>
      <p>Dashboard</p>
    </a>
  </li>

      {% if user.id_rol.cargo == 'Gerente' %}
        <li class="active ">
          <a href="{% url 'Perfil' %}">
            <i class="centrar bi bi-person-fill icon"></i>
            <p>Gerente</p>
          </a>
        </li>

        {% elif user.id_rol.cargo == 'Jefe de Tienda' %}
        <li>
          <a href="{% url 'predicción' %}">
            <i class="centrar bi bi-magic icon"></i>
            <p>Predicción</p>
          </a>
        </li>
        <li class="active ">
          <a href="{% url 'Perfil' %}">
            <i class="centrar bi bi-person-fill icon"></i>
            <p>Jefe de Tienda</p>
          </a>
        </li>
        
        {% elif user.id_rol.cargo == 'Cajero' %}

        <li class="active ">
          <a href="{% url 'Perfil' %}">
            <i class="centrar bi bi-person-fill icon"></i>
            <p>Cajero</p>
          </a>
        </li>
      

      {% endif %}

{% endif %}

{% endblock %}

{% block content2 %}

<div class="col-3">

</div>

<div class="col-5">
    <fieldset>
      <legend>Cambia tu contraseña</legend>
        <div class="section centrar">
          <form action="" id="ChaPass"  method="POST">
            {% csrf_token %}

            <div class="col s6 form-group ">
              <input class="form-control " style="display:none;" value="{{user.email}}"  id="Mail" name="Mail"> </div>
  
            <div class="col s6 form-group">
                <label>Contraseña:</label>
                <br>
                <input class="form-control" placeholder="Contraseña Actual" type="password" id="passA" name="passA"  required> </div>

            <div class="col s6 form-group">
                <label>Nueva Contraseña:</label>
                <br>
                <input class="form-control" placeholder="Nueva Contraseña" type="password" id="pass1" name="pass1"  required> </div>

            <div class="col s6 form-group">
                <label>Confirmar Contraseña:</label>
                <br>
                <input class="form-control" placeholder="confirmar Contraseña" type="password" id="pass2" name="pass2"  required> </div>            
  
          <div class="col s6 MargenDiv">
            <button type="submit" class="btn btn-success btn-block form-control" onclick="pregunta()">Cambiar Contraseña</button>
          </div> 
        </form>                       
        </div>
    </fieldset>
  
  </div>

  <script type="text/javascript"> 
    function pregunta() {
      event.preventDefault()
      Swal.fire({
      "title": "¿Estas Seguro de CAMBIAR su contraseña actual?",
      "text": "una vez realizada esta acción no se puede deshacer",
      "icon": "question",
      "showCancelButton":true,
      "cancelButtonText":"No, Cancelar",
      "confirmButtonText":"Si, Cambiar",
      "reverseButtons":true,
      "confirmButtonColor":"#ef8157"
      })
      .then(function(result)  {
        if(result.isConfirmed){
          document.getElementById("ChaPass").submit();}
        else{
          console.log('No submission.')
        }
          
      })
  
      }
  </script>

{% endblock %}